flex==6.14.1
bison==0.1.2
idna==2.10
PySerial==3.4
PyQt5-sip==4.19.19
PyCollada==0.7.1
numpy-stl==2.10.1
appdirs==1.4.4
packaging==19.0
requests==2.24.0
comtypes==1.1.7
cffi==1.14.2
cryptography==3.0
pycparser==2.20
netifaces==0.10.9
sentry-sdk==0.16.2
colorlog==4.2.1
mypy==0.740
certifi==2019.11.28
chardet==3.0.4
decorator==4.4.0
networkx==2.3
pyparsing==2.4.2
pytest==6.0.1
python-dateutil==2.8.0
python-utils==2.3.0
six==1.12.0
trimesh==3.2.33
typing==3.7.4
twisted==19.10.0
urllib3==1.25.6
PyYAML==5.1.2
zeroconf==0.24.1
Charon==0.1.2
